<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>

  </system.web>

  <connectionStrings>
    <add name="DBConnectString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\WILL2019\FINAL_WILL_PROJECT\HOMESTEAD_PROJECT\HOMESTEAD_PROJECT\HOMESTEAD_PROJECT\APP_DATA\FINAL_WILL_DATABASE.MDF;Integrated Security=True" />
    <add name="Homestead_Project.Properties.Settings.ConnectionString"
      connectionString="F:\WILL2019\FINAL_WILL_PROJECT\HOMESTEAD_PROJECT\HOMESTEAD_PROJECT\HOMESTEAD_PROJECT\APP_DATA\FINAL_WILL_DATABASE.MDF" />
  </connectionStrings>

</configuration>
